$bodyFont: 'Montserrat', sans-serif;
$headingFont: 'Fredoka One', sans-serif;

$textColor: #7B1FA2;
$backgroundColor: #FAFAFA;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $bodyFont;
  color: $textColor;
  background: $backgroundColor;
}

.title {
  max-width: 1254px;
  width: 90%;
  font-size: 7vw;
  font-family: $headingFont;
  margin: 0 auto;
  padding: 24px 40px;
}

.menu-toggle {
  display: none;

  @media all and (max-width: 500px) {
    display: block;
    margin-left: 5%;
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  
  li {
    min-width: 16vw;
    text-align: center;
    padding: 10px 0 5px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    
    &.active, &:hover {
      border-bottom-color: $textColor;
    }
  }

  @media all and (max-width: 500px) {
    display: block;
    background: #EBBDFF;
    margin-bottom: 1em;
    max-height: 200px;
    transition: max-height 0.25s linear;

    li {
      display: block;
      width: 80%;
      margin: 0 auto;
    }

    &.hidden {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.section-title {
  font-family: $headingFont;
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 16px 8px;
}

.page-wrapper {
  width: 90%;
  max-width: 1254px;
  margin: 0 auto;

  .content {
    max-width: 900px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 2px;
    margin: 12px 0;
    background: #FFFFFF;
    box-shadow: 2px 5px 12px rgba(200,200,200, 0.5);

    section {
      padding: 8px 20px;
      &:not(:first-of-type) {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
      }

      &:nth-of-type(1) {
        border-radius: 2px 2px 0 0;
      }

      &:nth-of-type(2) {
      
        .section-content {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          
          .bikeshop-image {
            display: inline-block;
            width: 250px;
            height: 250px;
            background: url('./img/bikeshop.jpg') right center/cover no-repeat;
            border-radius: 150px;
            flex: 0 0 250px;
          }
          
          p {
            display: inline-block;
            width: 520px;
            padding-left: 20px;
            vertical-align: top;
            flex: 1 1 0;
            min-width: 250px;
          }
        }
      }

      &:nth-of-type(3) {
        border-radius: 0 0 2px 2px;
        
        iframe {
          width: 100%;
        }
      }
    }

    @media all and (max-width: 1360px) {
      margin: 0 auto;
      display: block;
    }
  }
  
  .sidebar {
    @extend .content;
    max-width: 300px;
    margin-left: 20px;
    padding: 0 0 12px;

    .sidebar-bike {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
      padding: 16px 0;
      
      > img {
        padding: 0 20px;
        width: 100%;
        border-radius: 12px;
      }

      > p {
        margin: 8px 20px 0;
      }
    }

    @media all and (max-width: 1360px) {
      max-width: 900px;
      margin-left: 0;
      margin: 0 auto;
      display: block;
    }
  }
}